<!-- <p>
  cart works!
</p>
<div>
  <ul>
    <li *ngFor="let product of cartData">
      <span class="anchor">
        <img src="{{product.product_image}}" /> 
        {{product.product_name}} - Price - {{product.price}} - Quantity - {{product.quantity}} - Quantity Left-{{product.maxQuantity}}
        <input type="number" (change)="changeCount(product, $event)"  max="{{max}}" [(ngModel)]="product.quantity"/>
        <button (click)="deleteProduct(product)">Remove</button>
      </span>
    </li>
  </ul>
</div> -->
<mat-card *ngFor="let product of cartData">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{product.product_name}}</mat-card-title>
    <mat-card-subtitle>SKU - {{product.product_sku}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{product.product_image}}" class="image" alt="{{product.product_name}}">
  <mat-card-content>
    <p>
      {{product.product_description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field>
      <input matInput type="number" (change)="changeCount(product, $event)" placeholder="Quantity" [(ngModel)]="product.quantity"
        max="{{product.quantity}}">
      <mat-error *ngIf="product.quantity>product.maxQuantity">{{product.maxQuantity}} available</mat-error>
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="deleteProduct(product)"> Remove </button>
  </mat-card-actions>
</mat-card>