<mat-card>
  <mat-card-header>
    <mat-card-title> Sign Up </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signUpForm" novalidate (ngSubmit)="formSubmitted(signUpForm)">
      <div>
          <mat-form-field>
              <input matInput type="text" formControlName="name" placeholder="Name" />
              <mat-error *ngIf="submittedForm && signUpForm.get('name').errors">This field is required</mat-error>
              <mat-error *ngIf="submittedForm && errormMsg['name']">{{errormMsg['name']}}</mat-error>
          </mat-form-field>
        
       <!--  <span class="text-danger" *ngIf="submittedForm && signUpForm.get('name').errors">
          This field is required
        </span>
        <span class="text-danger" *ngIf="submittedForm && errormMsg['name']">
          {{errormMsg['name']}}
        </span> -->
      </div>
      <div>
          <mat-form-field>
              <input matInput type="email" formControlName="email" placeholder="Email" />
              <mat-error *ngIf="submittedForm && signUpForm.get('email').errors?.required">This field is required</mat-error>
              <mat-error *ngIf="submittedForm && !signUpForm.get('email').errors?.required && signUpForm.get('email').errors?.email">This field is required</mat-error>
              <mat-error *ngIf="submittedForm && errormMsg['email']">{{errormMsg['email']}}</mat-error>
          </mat-form-field>
        <!-- <input type="email" formControlName="email" placeholder="Email" />
        <span class="text-danger" *ngIf="submittedForm && signUpForm.get('email').errors?.required">
          This field is required
        </span>
        <span class="text-danger" *ngIf="submittedForm && !signUpForm.get('email').errors?.required && signUpForm.get('email').errors?.email">
          Please provide a valid Email
        </span>
        <span class="text-danger" *ngIf="submittedForm && errormMsg['email']">
          {{errormMsg['email']}}
        </span> -->
      </div>
      <div>
          <mat-form-field>
              <input matInput type="password" formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'"/>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="submittedForm && signUpForm.get('password').errors?.required">This field is required</mat-error>
              <mat-error *ngIf="submittedForm && errormMsg['password']">{{errormMsg['password']}}</mat-error>
          </mat-form-field>
        <!-- <input type="password" formControlName="password" placeholder="Password" />
        <span class="text-danger" *ngIf="submittedForm && signUpForm.get('password').errors">
          This field is required
        </span>
        <span class="text-danger" *ngIf="submittedForm && errormMsg['password']">
          {{errormMsg['password']}}
        </span> -->
      </div>
      <div>
          <mat-form-field>
              <input matInput type="password" formControlName="re-password" placeholder="Re-Enter Password" [type]="retypehide ? 'password' : 'text'"/>
              <mat-icon matSuffix (click)="retypehide = !retypehide">{{retypehide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="submittedForm && signUpForm.get('re-password').errors?.required">This field is required</mat-error>
              <mat-error *ngIf="submittedForm && errormMsg['re-password']">{{errormMsg['re-password']}}</mat-error>
          </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>