<mat-card>
  <mat-card-content>
    <div class="top-nav">
      <button mat-raised-button color="warn" (click)="logout()"> Logout </button>
    </div>
    <div class="top-nav">
      <button mat-raised-button color="primary" *ngIf="showCart==true" (click)="showCart=false">
        <mat-icon>backspace</mat-icon> Back to Product Page </button>
      <button mat-raised-button color="primary" (click)="showCart=!showCart"> Cart ({{cartData.length}}) </button>
    </div>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon> Menu</button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let menu of menuData" mat-menu-item routerLink="{{menu.url}}"> {{menu.label}} </button>
    </mat-menu>
    <router-outlet *ngIf="!showCart"></router-outlet>
    <app-cart *ngIf="showCart"></app-cart>
  </mat-card-content>
</mat-card>