<mat-card>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon> Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/sign-in"> Sign In </button>
        <button mat-menu-item routerLink="/sign-up"> Sign Up </button>
    </mat-menu>
    <router-outlet></router-outlet>
</mat-card>