<mat-card>
    <mat-card-header>
        <mat-card-title> Sign In </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="signInForm" novalidate (ngSubmit)="formSubmitted(signInForm)">
            <div>
                <mat-form-field>
                    <input matInput type="email" formControlName="email" placeholder="Email" />
                    <mat-error *ngIf="submittedForm && signInForm.get('email').errors?.required">This field is required</mat-error>
                    <mat-error *ngIf="submittedForm && !signInForm.get('email').errors?.required && signInForm.get('email').errors?.email">Please provide a valid Email</mat-error>
                    <mat-error *ngIf="submittedForm && errormMsg['email']">{{errormMsg['email']}}</mat-error>
                </mat-form-field>
                <!-- <span class="text-danger" *ngIf="submittedForm && signInForm.get('email').errors?.required">
                                    This field is required
                                </span>
                                <span class="text-danger" *ngIf="submittedForm && !signInForm.get('email').errors?.required && signInForm.get('email').errors?.email">
                                    Please provide a valid Email
                                </span>
                                <span class="text-danger" *ngIf="submittedForm && errormMsg['email']">
                                    {{errormMsg['email']}}
                                </span> -->
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="password" formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'"/>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="submittedForm && signInForm.get('password').errors?.required">This field is required</mat-error>
                </mat-form-field>
                <!-- <span class="text-danger" *ngIf="submittedForm && signInForm.get('password').errors?.required">
                                    This field is required
                                </span> -->
            </div>
            <div>
                <button  type="submit" mat-raised-button color="primary">Sign In</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>