<mat-card *ngFor="let product of productList">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{product.product_name}}</mat-card-title>
    <mat-card-subtitle>SKU - {{product.product_sku}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{product.product_image}}" class="image" alt="{{product.product_name}}">
  <mat-card-content>
    <p>
      {{product.product_description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addToCart(product)" *ngIf="product.ucid=='notInCart'"> Add </button>
    <button mat-raised-button disabled *ngIf="product.ucid!='notInCart'"> Already in Cart </button>
  </mat-card-actions>
</mat-card>