/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* .pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.top-nav{
    padding: 5px;
    float: right;
}
.text-danger{ color:red; }
.anchor{ cursor: pointer; color: blue;}
.anchor:hover{ text-decoration: underline; } */
.top-nav{
    padding: 5px;
    float: right;
}
app-product-list .mat-card{ width: 200px!important; float: left; margin: 20px;}
app-cart .mat-card{ width: 200px!important; float: left; margin: 20px;}
.mat-card-image { width: 200px!important; height: 250px!important; }
.message-div{ margin: 1px auto; width:40%; }
.success{ background-color: green;}
.error{ background-color: red; color: black;}